/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Q  &kp W  &kp E  &kp R  &kp T
        &kp A  &kp S  &kp D  &kp F  &kp G
        &kp Z  &kp X  &kp C  &kp V  &kp B
        &trans &trans &kp SPACE &mo LAYER_1 &kp ESC
      >;
    };

    layer_1 {
      bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
        &kp 1        &kp 2         &kp 3         &kp 4         &kp 5
        &kp TAB      &kp LCTRL     &kp LALT      &kp LSFT      &kp BACKSPACE
        &trans       &trans        &kp ENTER     &mo LAYER_2   &kp ESC
      >;
    };

    layer_2 {
      bindings = <
        &reset       &bootloader   &none         &none         &none
        &none        &none         &none         &none         &none
        &none        &none         &none         &none         &none
        &trans       &trans        &kp SPACE     &mo LAYER_1   &kp ESC
      >;
    };
  };
};
